<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>background.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,800}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,800}}</string>
				<key>sourceSize</key>
				<string>{480,800}</string>
			</dict>

			<key>bomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,967},{62,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{62,53}}</string>
				<key>sourceSize</key>
				<string>{63,57}</string>
			</dict>

			<key>bomb_supply.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,801},{59,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{59,103}}</string>
				<key>sourceSize</key>
				<string>{60,107}</string>
			</dict>

			<key>bullet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,1006},{5,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,11}}</string>
				<key>sourceSize</key>
				<string>{5,11}</string>
			</dict>

			<key>bullet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,1006},{5,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,11}}</string>
				<key>sourceSize</key>
				<string>{5,11}</string>
			</dict>

			<key>bullet_supply.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,905},{58,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{58,87}}</string>
				<key>sourceSize</key>
				<string>{58,88}</string>
			</dict>

			<key>button.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,801},{300,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,41}}</string>
				<key>sourceSize</key>
				<string>{300,41}</string>
			</dict>

			<key>enemy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,967},{51,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{51,38}}</string>
				<key>sourceSize</key>
				<string>{57,43}</string>
			</dict>

			<key>enemy1_down1.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,967},{51,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,9},{51,38}}</string>
				<key>sourceSize</key>
				<string>{57,51}</string>
			</dict>

			<key>enemy1_down2.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,967},{51,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,5},{51,46}}</string>
				<key>sourceSize</key>
				<string>{57,51}</string>
			</dict>

			<key>enemy1_down3.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,967},{57,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,50}}</string>
				<key>sourceSize</key>
				<string>{57,51}</string>
			</dict>

			<key>enemy1_down4.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,905},{46,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,9},{46,39}}</string>
				<key>sourceSize</key>
				<string>{57,51}</string>
			</dict>

			<key>enemy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,925},{69,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{69,88}}</string>
				<key>sourceSize</key>
				<string>{69,99}</string>
			</dict>

			<key>enemy2_down1.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,925},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{69,93}}</string>
				<key>sourceSize</key>
				<string>{69,95}</string>
			</dict>

			<key>enemy2_down2.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,801},{69,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{69,93}}</string>
				<key>sourceSize</key>
				<string>{69,95}</string>
			</dict>

			<key>enemy2_down3.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,895},{69,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,95}}</string>
				<key>sourceSize</key>
				<string>{69,95}</string>
			</dict>

			<key>enemy2_down4.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,801},{68,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{68,77}}</string>
				<key>sourceSize</key>
				<string>{69,95}</string>
			</dict>

			<key>enemy2_hit.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,925},{69,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{69,94}}</string>
				<key>sourceSize</key>
				<string>{69,99}</string>
			</dict>

			<key>enemy3_down1.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,768},{165,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{165,255}}</string>
				<key>sourceSize</key>
				<string>{165,261}</string>
			</dict>

			<key>enemy3_down2.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,256},{165,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{165,255}}</string>
				<key>sourceSize</key>
				<string>{165,261}</string>
			</dict>

			<key>enemy3_down3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,256},{165,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{165,255}}</string>
				<key>sourceSize</key>
				<string>{165,260}</string>
			</dict>

			<key>enemy3_down4.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,512},{165,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{165,255}}</string>
				<key>sourceSize</key>
				<string>{165,261}</string>
			</dict>

			<key>enemy3_down5.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{166,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,255}}</string>
				<key>sourceSize</key>
				<string>{166,260}</string>
			</dict>

			<key>enemy3_down6.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,801},{143,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,12},{143,202}}</string>
				<key>sourceSize</key>
				<string>{166,261}</string>
			</dict>

			<key>enemy3_hit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,0},{165,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{165,255}}</string>
				<key>sourceSize</key>
				<string>{169,258}</string>
			</dict>

			<key>enemy3_n1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,762},{165,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{165,246}}</string>
				<key>sourceSize</key>
				<string>{169,258}</string>
			</dict>

			<key>enemy3_n2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,512},{165,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{165,249}}</string>
				<key>sourceSize</key>
				<string>{169,258}</string>
			</dict>

			<key>gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,0},{480,800}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,800}}</string>
				<key>sourceSize</key>
				<string>{480,800}</string>
			</dict>

			<key>life.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,957},{46,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,56}}</string>
				<key>sourceSize</key>
				<string>{46,57}</string>
			</dict>

			<key>me1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,843},{99,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{99,123}}</string>
				<key>sourceSize</key>
				<string>{102,126}</string>
			</dict>

			<key>me2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,843},{99,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{99,121}}</string>
				<key>sourceSize</key>
				<string>{102,126}</string>
			</dict>

			<key>me_destroy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,801},{98,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{98,123}}</string>
				<key>sourceSize</key>
				<string>{102,126}</string>
			</dict>

			<key>me_destroy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,801},{98,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{98,123}}</string>
				<key>sourceSize</key>
				<string>{102,126}</string>
			</dict>

			<key>me_destroy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,843},{98,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{98,123}}</string>
				<key>sourceSize</key>
				<string>{102,126}</string>
			</dict>

			<key>me_destroy_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,879},{66,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,20},{66,77}}</string>
				<key>sourceSize</key>
				<string>{102,126}</string>
			</dict>

			<key>pause_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,801},{41,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,1},{41,44}}</string>
				<key>sourceSize</key>
				<string>{60,45}</string>
			</dict>

			<key>pause_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,945},{41,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,1},{41,44}}</string>
				<key>sourceSize</key>
				<string>{60,45}</string>
			</dict>

			<key>resume_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,846},{37,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,2},{37,41}}</string>
				<key>sourceSize</key>
				<string>{60,45}</string>
			</dict>

			<key>resume_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,846},{37,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,2},{37,41}}</string>
				<key>sourceSize</key>
				<string>{60,45}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>